doctype html

//- スタイル定義
link(rel='stylesheet' href='main.css')

video.hitbox-slider(src=srcUrl autoplay)

//- メインスクリプト
script window.VideoTaggenSrcUrl = "!{srcUrl}"
script(src='hitbox-slider.js')
script(src='main.js')
