doctype html

//- スタイル定義
link(rel='stylesheet' href='https://cdn.plyr.io/2.0.13/plyr.css')
link(rel='stylesheet' href='main.css')

video.player(src=srcUrl)

//- メインスクリプト
script(src='https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js')
script(src='https://cdn.plyr.io/2.0.13/plyr.js')
script(src='main.js')
